<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRAppLib.Properties.Settings.HRwebConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Michael\Desktop\CGroupProject\HRAppLib\HRAppWebApp\App_Data\ApplicantDB.mdf;Integrated Security=True" 
              />
    </connectionStrings>
</configuration>
